<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Testcase.Test1_class</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>extentReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>function3</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>function4</td>
<td>&nbsp;</td></tr>
</table>
