<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>19/11/25 16:29:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.extentReport()[pri:0, instance:Testcase.Test1_class@1e397ed7]">&gt;&gt;extentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/11/25 16:29:01</td>   <td>180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.function3()[pri:0, instance:Testcase.Test1_class@1e397ed7]">&gt;&gt;function3</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>19/11/25 16:29:13</td>   <td>11586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1_class.TS1(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Testcase.Test1_class@1e397ed7]">TS1</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>19/11/25 16:29:32</td>   <td>30986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1_class.TS2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Testcase.Test1_class@1e397ed7]">TS2</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>19/11/25 16:29:33</td>   <td>31655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1_class.TS3(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Testcase.Test1_class@1e397ed7]">TS3</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>19/11/25 16:29:38</td>   <td>36403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1_class.TS4(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Testcase.Test1_class@1e397ed7]">TS4</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/11/25 16:29:40</td>   <td>39326</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driver.function4()[pri:0, instance:Testcase.Test1_class@1e397ed7]">&lt;&lt;function4</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318822808</td>   <td></td> </tr>
</table>
